<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
</head>

<body>
    <nav>
        <div><a href="/">HOMEPAGE</a></div>
        <div><a href="/dashboard">DASHBOARD</a></div>
        {{#if loggedIn}}
        <div><a id="logout" href="/">LOGOUT</a></div>
        {{else}}
        <div><a href="/login">LOGIN</a></div>
        {{/if}}
    </nav>

    <div>
        {{{body}}}
    </div>


    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>