{{!-- must be signed in to view --}}
{{log .}}
<p>{{userPosts}}</p>


{{!-- add new blog post --}}
<form id="postForm">
    <p>Create a new post!</p>
    <label for="post-title">Post Title:</label><br>
    <input type="text" id="post-title" name="post-title"><br>
    <label for="post-content">Post Content:</label><br>
    <input type="text" id="post-content" name="post-content"><br>
    <button type="create" id="create-button">Create</button>

</form>

<script src="./utils/create-post-form.js"></script>